################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/.vs/API
/API/API/bin/Debug/net6.0
/API/API/obj
/.vs/learning.net/v17
/API/.vs/ProjectEvaluation
/.vs/VSWorkspaceState.json
/API/Model/bin/Debug/net6.0
/API/Model/obj/Debug/net6.0/ref/Model.dll
/API/Model/obj
/API/.vs/APIS
/.vs/Learning/v17/.wsuo
/.vs/Learning/v17/DocumentLayout.json
